*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(209, 200, 176) !important;
}

.rounded{
    height: 500px;
    width: auto;
    transition: transform 0.5s;
}

.rounded:hover{
    /* background: #B19CD9; */
    transform: translateY(-10px);
    /* color: #000; */
}

.recipe{
    padding: 5px;
}

.recipe2{
    text-decoration: none;
    color: black;
}

h5{
    padding: 20px;
    text-align: center;
    border: solid 3px;
    border-color: transparent;
    border-radius: 15px;
}

h5:hover{
    border: solid 3px;
    border-color: #B19CD9;
    transition: 1.0s;
}

.content{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.instructions, .ingredients{
    text-align: left;
    border: solid 2px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}

.instructions ol, .ingredients ul{
    text-align: justify;
}

.info{
    text-align: center;
    padding: 25px;
    padding-left: 500px;
    padding-right: 500px;
}

#header, .container{
    margin-bottom: 30px;
}

#header-main{
    margin: 30px;
}